.image_upload{
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
   
    
}

.image_upload progress{
    width: 100%;
  

   
}